.layout {
    display: flex;
    height: 100vh; 
}

.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

@media (max-width: 1000px) {
        .layout {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
            }
    }

    .content {
        max-width: 800px; /* Non allargare troppo */
       
        

    }
