body {
    background: url('assets/meteo.jpg') center/cover fixed no-repeat;
    height: 100vh; 
    margin: 0; /* Evita spazi vuoti */
    
}

@media (max-width: 1000px) {
    body {
        zoom: 1.2; /* Ingrandisce tutto il contenuto di 1.5x */
    }
}