body {
    background: url('assets/meteo.jpg') center/cover fixed no-repeat;
    height: 100vh; 
    margin: 0; 
    
}

@media (max-width: 1000px) {
    body {
        transform: scale(1.4);
        transform-origin: top left;
        width: calc(100% / 1.4);
        height: calc(100% / 1.4);
    }
}