body {
    background: url('assets/meteo.jpg') center/cover fixed no-repeat;
    height: 100vh; 
    margin: 0; 
    
}

@media (max-width: 1000px) {
    body {
        transform: scale(2); 
        transform-origin: top center; 
    }
}